.container {
    margin: 0 auto;
    width: 1400px;
    height: 600px;
}

h1, h3, button {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
}

button {
    border-radius: 5px;
    background-color: lightblue;
    font-size: 18px;
    color: #444444;
}

h1, h3, #buttonGroup {
    text-align: center;
}

#grid {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    border: 5px solid lightblue;
    border-radius: 5px;
}

.row {
    display: inline-block;
}

.square {
    margin: 0;
    padding: 0;
    background-color: white;
}
