.container {
    margin: 0 auto;
    width: 1400px;
    height: 600px;
}

#grid {
    height: 600px;
    width: 600px;
    margin: 0 auto;
}

.row {
    display: inline-block;
}

.square {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.square.black{
    background-color: black;
}
